body {
    background-color: #121212;
    color: #ffffff;
}

a {
    color: #1e90ff; /* DodgerBlue for links */
}

a:visited {
    color: #1e90ff; /* Ensure visited links are the same color */
}

h1, h2, h3, h4, h5, h6 {
    color: #ff4500; /* OrangeRed for headers */
    border-bottom: 2px solid #ff4500; /* Red underline for headers */
    padding-bottom: 0.3em; /* Add some space between the text and the underline */
}

summary {
    color: #ff4500; /* Red for summary text */
    font-size: 1.2em; /* Larger text size for summary */
    cursor: pointer; /* Pointer cursor to indicate it's clickable */
}

nav, footer {
    background-color: #1e1e1e;
    color: #ffffff;
}